<table style="width:60%" align="center">
  <tbody><tr>
    <td><a href="oLxBG9ki.html">Link to Homework #1</a></td>
    <td><a href="oLxBG9ki.html">Link to Homework #2</a></td>
  </tr>
  <tr>
    <td><a href="./hw3/3Tu7B1D8.html" target="_blank" rel="noopener noreferrer">Link to Homework #3</a></td>
    <td>Link to Homework #4</td>
  </tr>
  <tr>
    <td>Link to Homework #5</td>
    <td id="hw6">
      <a href="https://web-tech-hw6-362700.wl.r.appspot.com/" target="_blank" rel="noopener noreferrer">Link to Homework #6</a>
      <a class="sample-api" href="https://web-tech-hw6-362700.wl.r.appspot.com/businesses/search?keyword=taiwanese&dist=10&category=food&lat=34.0223519&lng=-118.285117" target="_blank" rel="noopener noreferrer">https://web-tech-hw6-362700.wl.r.appspot.com/businesses/search?keyword=taiwanese&dist=10&category=food&lat=34.0223519&lng=-118.285117</a>
    </td>
  </tr>
  <tr>
    <td>Link to Homework #7</td>
    <td>
      <a href="https://yelp-businesses-search.uw.r.appspot.com/search" target="_blank" rel="noopener noreferrer">Link to Homework #8</a>
      <a class="sample-api" href="https://yelp-businesses-search.uw.r.appspot.com/businesses/search?limit=10&keyword=bubble%20tea&dist=10&category=food&lat=34.0223519&lng=-118.285117" target="_blank" rel="noopener noreferrer">https://yelp-businesses-search.uw.r.appspot.com/businesses/search?limit=10&keyword=bubble%20tea&dist=10&category=food&lat=34.0223519&lng=-118.285117</a>
    </td>
  </tr>
  <tr>
    <td>
      <a class="sample-api" href="https://yelp-businesses-search.uw.r.appspot.com/businesses/search?limit=10&keyword=bubble%20tea&dist=10&category=food&lat=34.0223519&lng=-118.285117" target="_blank" rel="noopener noreferrer">Homework #9 back-end.</a>
    </td>
    <td>Link to Homework #10</td>
  </tr>
  </tbody>
</table>
